{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_contentbank/bankcontent

    Example context (json):
    {
        "root": "http://something/contentbank/index.php",
        "breadcrumb": [
            {
                "name": "First level",
                "link": "http://something/contentbank/index.php?parent=1"
            }
        ],
        "folders": [
            {
                "name": "H5P content",
                "icon" : "<img class='icon iconsize-big' alt='H5P content' aria-hidden='true' src='http://something/theme/image.php/boost/core/1581597850/f/folder-64'>"
            }
        ],
        "contents": [
            {
                "name": "accordion.h5p",
                "link": "http://something/contentbank/content/h5p/view.php?url=http://something/pluginfile.php/1/contentbank/public/accordion.h5p",
                "icon" : "<img class='icon iconsize-big' alt='accordion.h5p' aria-hidden='true' src='http://something/theme/image.php/boost/core/1581597850/f/h5p-64'>"
            },
            {
                "name": "resume.pdf",
                "icon": "<img class='icon iconsize-big' alt='resume.pdf' aria-hidden='true' src='http://something/theme/image.php/boost/core/1584597850/f/pdf-64'>"
            }
        ],
        "tools": [
            {
                "name": "Upload",
                "link": "http://something/contentbank/content/h5p/view.php?url=http://something/pluginfile.php/1/contentbank/public/accordion.h5p",
                "icon" : "i/upload"
            },
            {
                "icon": "i/export"
            }
        ]
    }

}}
{{>core_contentbank/toolbar}}
<div class="content-bank-container card">
    <div class="content-bank">
        <div class="cb-navbar">
            <a href="{{{ root }}}" title="/">{{#pix}} i/folder {{/pix}}</a>
        {{#breadcrumb}}
            / <a href="{{{ link }}}">{{{ name }}}</a>
        {{/breadcrumb}}
        </div>
        <div class="cb-content-wrapper">
        {{#folders}}
            {{>core_contentbank/folder}}
        {{/folders}}
        {{#contents}}
            {{>core_contentbank/content}}
        {{/contents}}
        </div>
    </div>
</div>
